

  
  

  <main id="main" class="main">

    <div class="pagetitle" style="text-align: center;">
      <h1>Edit Product</h1>
      
    </div><!-- End Page Title --> <br><br>

    <section class="section " style="margin-right: 300px;">
      <div class="row">
        <div class="col-lg-12">

          <div class="card">
            <div class="card-body">
               <h5 class="card-title">   </h5> 

              <!-- General Form Elements -->
              
              <form method="post" action="/admin/updateProduct" onsubmit="return validation()" enctype="multipart/form-data">
                <div class="row mb-3">
                  <label for="inputText" class="col-sm-2 col-form-label">Product Name</label>
                  <div class="col-sm-10">
                    <input type="text" class="form-control" name="productname" id="productname" value="{{product.productname}}" onkeyup="validateProductName()"><span id="name" class="text-danger" ></span>
                  </div>
                </div>

                <div class="row mb-3">
                  <label for="inputPassword" class="col-sm-2 col-form-label" >Product Price</label>
                  <div class="col-sm-10">
                    <input type="number" class="form-control" name="price" onkeyup="validPrice()" id="price" value="{{product.price}}"><span id="Price" class="text-danger"></span>
                  </div>
                </div>
                <div class="row mb-3">
                  <label for="inputNumber" class="col-sm-2 col-form-label">Stock Left</label>
                  <div class="col-sm-10">
                    <input type="number" class="form-control" name="stockleft" onkeyup="validStock()" id="stock" value="{{product.stockleft}}"><span id="Stock" class="text-danger"></span>
                  </div>
                </div>
               

              

                 <div class="row mb-3">
                  <label class="col-sm-2 col-form-label">Brand</label>
                  <div class="col-sm-10">
                        <select   name="brand" id="brand"  class="form-select" onkeyup="validBrand()" ><span id="Brand" class="text-danger"></span>
                          {{#each category}}
                          <option value="{{this._id}}" >{{this.Brand}}</option>
                          {{/each}}
                        </select>
                </div>
                </div>

                 

               
                 
                

                 <div class="row mb-3">
                  <label for="inputNumber" class="col-sm-2 col-form-label">Product Image</label>
                  <div class="row">
                    <div class="col-2 offset-2">
                    <img src="/images/product/{{product.img.[0]}}" alt="loading" style="width: 80px; height:60px ;" id="imagechange0">
                    </div>
                     <div class="col-2">
                    <img src="/images/product/{{product.img.[1]}}" alt="loading" style="width: 80px; height:60px ;" id="imagechange1">
                    </div>
                     <div class="col-2">
                    <img src="/images/product/{{product.img.[2]}}" alt="loading" style="width: 80px; height:60px ;" id="imagechange2">
                    </div>
                     <div class="col-2">
                    <img src="/images/product/{{product.img.[3]}}" alt="loading" style="width: 80px; height:60px ;" id="imagechange3">
                    </div>
                  </div>

                  <div class="col-sm-10 offset-2">
                    <input class="form-control " type="file" id="formFile" name="image"  onchange="change(event)" multiple accept="image/jpg, image/jpeg, image/png, image/webp">
                  </div>
                </div>

                <div class="row mb-3">
                  <label for="inputPassword" class="col-sm-2 col-form-label">Description</label>
                  <div class="col-sm-10">
                    <input class="form-control" style="height: 50px" name="Description" value="{{product.Description}}" id="Description" onkeyup="validateProductDescription() "><span id="productdescription" class="text-danger"></span>
                  </div>
                </div>



                <div class="row mb-3">
                  <label class="col-sm-2 col-form-label">Submit Button</label>
                  <div class="col-sm-10">
                    <button type="submit" class="btn btn-primary">Submit Form</button>
                  </div>
                </div>

              </form><!-- End General Form Elements -->

            </div>
          </div>

        </div>


      </div>
    </section>

  </main><!-- End #main -->



  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>



  <script>
    var errorName = document.getElementById('name')
    var errordescription = document.getElementById('productdescription')
    var errorBrand = document.getElementById('Brand')
	  var errorRam = document.getElementById('RAM') 
    var errorPrice = document.getElementById('Price')
    var errorStock = document.getElementById('Stock')
    function validateProductName() {
        const name = document.getElementById('productname').value;
        if (name == "") {
            errorName.innerHTML = '*'
            return false
        }
        if (!name.match(/^[a-zA-Z0-9 ]*$/)) {
            errorName.innerHTML = '*'
            return false
        }
         if (name.match(/^[ ]*$/)) {
            errorName.innerHTML = '*'
            return false
        }
        errorName.innerHTML = null
        return true
    }

    function validateProductDescription() {
        const name = document.getElementById('Description').value;
        if (name == "") {
            errordescription.innerHTML = '*'
            return false
        }
        if (!name.match(/^[a-zA-Z ]*$/)) {
           errordescription.innerHTML = '*'
            return false
        }
         if (name.match(/^[ ]*$/)) {
            errordescription.innerHTML = '*'
            return false
        }if (name.length < 10) {
			
           errordescription.innerHTML = "enter proper description "
            return false
        }
        errordescription.innerHTML = null
        return true
    }
    function validBrand() {
        const brand = document.getElementById('brand').value
        if (brand == "") {
            errorBrand.innerHTML = "*"
            return false
        }
        errorBrand.innerHTML = null
        return true
    }
    function validram() {
        const ram = document.getElementById('ram').value
        if (ram == "") {
            errorRam.innerHTML = "*"
            return false
        }
        errorBrand.innerHTML = null
        return true
    }
     function validPrice() {
        const price = document.getElementById('price').value
        if (price == "") {
            errorPrice.innerHTML = "*"
            return false
        }
        errorPrice.innerHTML = null
        return true
    }
      function validStock() {
        const stock = document.getElementById('stock').value
        if (stock == "") {
            errorStock.innerHTML = "*"
            return false
        }
        errorStock.innerHTML = null
        return true
    }

    

    function validation() {
        if (!validateProductName() || !validPrice() ||!validStock() || !validBrand()  || !validram() || !validateProductDescription()   ) {
            return false
        }
        return true
    }


    function change(event){
      console.log(event)
      let image = document.getElementById('imagechange0')
      image.src=URL.createObjectURL(event.target.files[0])
       let image1 = document.getElementById('imagechange1')
      image.src=URL.createObjectURL(event.target.files[1])
       let image2 = document.getElementById('imagechange2')
      image.src=URL.createObjectURL(event.target.files[2])
       let image3 = document.getElementById('imagechange3')
      image.src=URL.createObjectURL(event.target.files[3])
    }
</script>

