





  <main id="main" class="main">


    <section class="section dashboard">
      <div class="row">

        <!-- Left side columns -->
        <div class="col-12">
          <div class="row">

            <!-- Sales Card -->
            <div class="col-xxl-4 col-md-6">
              <div class="card info-card sales-card">



                <div class="card-body">
                  <h5 class="card-title">Total Sales</h5>

                  <div class="d-flex align-items-center">
                    <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                      <i class="bi bi-cart"></i>
                    </div>
                    <div class="ps-3">
                      <h6>Rs:{{yearlysales.[0].YearlySaleAmount}}</h6>
                      

                    </div>
                  </div>
                </div>

              </div>
            </div><!-- End Sales Card -->

            <!-- Revenue Card -->
            <div class="col-xxl-4 col-md-6">
              <div class="card info-card revenue-card">


                <div class="card-body">
                  <h5 class="card-title">Total Product Left</h5>

                  <div class="d-flex align-items-center">
                    <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                      <i class="bi bi-currency-dollar"></i>
                    </div>
                    <div class="ps-3">
                      <h6>{{totalProduct.[0].TotalProduct}}</h6>


                    </div>
                  </div>
                </div>

              </div>
            </div><!-- End Revenue Card -->

            <!-- Customers Card -->
            <div class="col-xxl-4 col-xl-12">

              <div class="card info-card customers-card">

                

                <div class="card-body">
                  <h5 class="card-title">Customers <span>| This Year</span></h5>

                  <div class="d-flex align-items-center">
                    <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                      <i class="bi bi-people"></i>
                    </div>
                    <div class="ps-3">
                      <h6>{{usercount}}</h6>

                    </div>
                  </div>

                </div>
              </div>

            </div><!-- End Customers Card -->

            <!-- Reports -->
            <div class="col-12">
              <div class="card">

                <div class="filter">
                  <a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></a>
                  <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                    <li class="dropdown-header text-start">
                      <h6>Filter</h6>
                    </li>

                    <li><button class="dropdown-item" onclick="weeklyReport()" >Weekly</button></li>
                    <li><button class="dropdown-item" onclick="monthlyReport()" >This Month</button></li>
                    <li><button class="dropdown-item" onclick="yearlyReport()">This Year</button></li>
                  </ul>
                </div>

                <div class="card-body">
                  <h5 class="card-title">Reports <span>/Today</span></h5>

                  <!-- Line Chart -->
                  <canvas id="line-chart" width="800" height="450"></canvas>    

                </div>

              </div>
            </div><!-- End Reports -->



            <div class="col-12">
              <div class="card">

                <div class="filter">
                  <a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></a>

                </div>

                <div class="card-body">
                  <h5 class="card-title">Payment</h5>

                  <!-- Line Chart -->
                  <canvas id="line-chartPayment" width="800" height="450"></canvas>    

                </div>

              </div>
            </div><!-- End Reports -->

            <!-- Recent Sales -->
            <div class="col-12">
              <div class="card recent-sales overflow-auto">

                <div class="filter">
                  <a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></a>
                  <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                    <li class="dropdown-header text-start">
                      <h6>Filter</h6>
                    </li>

                    <li><a class="dropdown-item" href="#">Today</a></li>
                    <li><a class="dropdown-item" href="#">This Month</a></li>
                    <li><a class="dropdown-item" href="#">This Year</a></li>
                  </ul>
                </div>

                <div class="card-body">
                  <h5 class="card-title">Recent Sales <span>| Today</span></h5>

                  <table class="table table-borderless datatable">
                    <thead>
                      <tr>
                        <th scope="col">#</th>
                        <th scope="col">Customer</th>
                        <th scope="col">Product</th>
                        <th scope="col">Price</th>
                        <th scope="col">Status</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <th scope="row"><a href="#">#2457</a></th>
                        <td>Brandon Jacob</td>
                        <td><a href="#" class="text-primary">At praesentium minu</a></td>
                        <td>$64</td>
                        <td><span class="badge bg-success">Approved</span></td>
                      </tr>
                      <tr>
                        <th scope="row"><a href="#">#2147</a></th>
                        <td>Bridie Kessler</td>
                        <td><a href="#" class="text-primary">Blanditiis dolor omnis similique</a></td>
                        <td>$47</td>
                        <td><span class="badge bg-warning">Pending</span></td>
                      </tr>
                      <tr>
                        <th scope="row"><a href="#">#2049</a></th>
                        <td>Ashleigh Langosh</td>
                        <td><a href="#" class="text-primary">At recusandae consectetur</a></td>
                        <td>$147</td>
                        <td><span class="badge bg-success">Approved</span></td>
                      </tr>
                      <tr>
                        <th scope="row"><a href="#">#2644</a></th>
                        <td>Angus Grady</td>
                        <td><a href="#" class="text-primar">Ut voluptatem id earum et</a></td>
                        <td>$67</td>
                        <td><span class="badge bg-danger">Rejected</span></td>
                      </tr>
                      <tr>
                        <th scope="row"><a href="#">#2644</a></th>
                        <td>Raheem Lehner</td>
                        <td><a href="#" class="text-primary">Sunt similique distinctio</a></td>
                        <td>$165</td>
                        <td><span class="badge bg-success">Approved</span></td>
                      </tr>
                    </tbody>
                  </table>

                </div>

              </div>
            </div><!-- End Recent Sales -->

            <!-- Top Selling -->
            <div class="col-12">
              <div class="card top-selling overflow-auto">

                <div class="filter">
                  <a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></a>
                  <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                    <li class="dropdown-header text-start">
                      <h6>Filter</h6>
                    </li>

                    <li><a class="dropdown-item" href="#">Today</a></li>
                    <li><a class="dropdown-item" href="#">This Month</a></li>
                    <li><a class="dropdown-item" href="#">This Year</a></li>
                  </ul>
                </div>

                <div class="card-body pb-0">
                  <h5 class="card-title">Top Selling <span>| Today</span></h5>

                  <table class="table table-borderless">
                    <thead>
                      <tr>
                        <th scope="col">Preview</th>
                        <th scope="col">Product</th>
                        <th scope="col">Price</th>
                        <th scope="col">Sold</th>
                        <th scope="col">Revenue</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <th scope="row"><a href="#"><img src="assets/img/product-1.jpg" alt=""></a></th>
                        <td><a href="#" class="text-primary fw-bold">Ut inventore ipsa voluptas nulla</a></td>
                        <td>$64</td>
                        <td class="fw-bold">124</td>
                        <td>$5,828</td>
                      </tr>
                      <tr>
                        <th scope="row"><a href="#"><img src="assets/img/product-2.jpg" alt=""></a></th>
                        <td><a href="#" class="text-primary fw-bold">Exercitationem similique doloremque</a></td>
                        <td>$46</td>
                        <td class="fw-bold">98</td>
                        <td>$4,508</td>
                      </tr>
                      <tr>
                        <th scope="row"><a href="#"><img src="assets/img/product-3.jpg" alt=""></a></th>
                        <td><a href="#" class="text-primary fw-bold">Doloribus nisi exercitationem</a></td>
                        <td>$59</td>
                        <td class="fw-bold">74</td>
                        <td>$4,366</td>
                      </tr>
                      <tr>
                        <th scope="row"><a href="#"><img src="assets/img/product-4.jpg" alt=""></a></th>
                        <td><a href="#" class="text-primary fw-bold">Officiis quaerat sint rerum error</a></td>
                        <td>$32</td>
                        <td class="fw-bold">63</td>
                        <td>$2,016</td>
                      </tr>
                      <tr>
                        <th scope="row"><a href="#"><img src="assets/img/product-5.jpg" alt=""></a></th>
                        <td><a href="#" class="text-primary fw-bold">Sit unde debitis delectus repellendus</a></td>
                        <td>$79</td>
                        <td class="fw-bold">41</td>
                        <td>$3,239</td>
                      </tr>
                    </tbody>
                  </table>

                </div>

              </div>
            </div><!-- End Top Selling -->

          </div>
        </div><!-- End Left side columns -->

        <!-- Right side columns -->


      </div>
    </section>

  </main><!-- End #main -->

  

<script>
  var myChart;
  var myChart2;
  var myChart3
  var chart1
  var chart2
  var chart3

 window.onload = () => {
 weeklyReport()
 weeklyReportPayment()
};



function weeklyReport(){

                        
 chart1 = true;

  const data = {
    labels: [
      {{#each weeklysales}}'{{_id}}',{{/each}}
    ],
    datasets: [{
      label: 'Weekly Sales',
      data: [{{#each weeklysales}}'{{weeklySaleAmount}}',{{/each}}],
      backgroundColor: [
        'rgb(103 119 239)',
        'rgb(102 187 106)',
        'rgb(54, 162, 235)',
        'rgb(255, 99, 132)'
      ]
    }]
  };

  const config = {
    type: 'line',
    data: data,
    options: {
      aspectRatio:3,
      responsive:true
    }
  };
  if(chart2){
    myChart2.destroy()
  }
  if(chart3){
    myChart3.destroy()
  }
 
myChart = new Chart(document.getElementById('line-chart'), config)
                                     
} 



function monthlyReport(){

  chart2 = true;


const data = {
    labels: [
      {{#each monthlysales}}'{{_id}}',{{/each}}
    ],
    datasets: [{
      label: 'Monthly Sales',
      data: [{{#each monthlysales}}'{{MonthlySaleAmount}}',{{/each}}],
      backgroundColor: [
        'rgb(103 119 239)',
        'rgb(102 187 106)',
        'rgb(54, 162, 235)',
        'rgb(255, 99, 132)'
      ]
    }]
  };
  
  const config = {
    type: 'line',
    data: data,
    options: {
      aspectRatio:3,
      responsive:true
    }
  }; 
   if(chart1){
    myChart.destroy()
  }
  if(chart3){
    myChart3.destroy()
  }         
            
myChart2 = new Chart(document.getElementById('line-chart'), config)

                      
} 

function yearlyReport(){

  chart3 = true;


const data = {
    labels: [
      {{#each yearlysales}}'{{_id}}',{{/each}}
    ],
    datasets: [{
      label: 'Yearly Sales',
      data: [{{#each yearlysales}}'{{YearlySaleAmount}}',{{/each}}],
      backgroundColor: [
        'rgb(103 119 239)',
        'rgb(102 187 106)',
        'rgb(54, 162, 235)',
        'rgb(255, 99, 132)'
      ]
    }]
  };
  
  const config = {
    type: 'line',
    data: data,
    options: {
      aspectRatio:3,
      responsive:true
    }
  }; 
 if(chart2){
    myChart2.destroy()
  }
  if(chart1){
    myChart.destroy()
  }  
myChart3 = new Chart(document.getElementById('line-chart'), config)

                      
} 



  var myChart4;

  var chart4
 





function weeklyReportPayment(){

                        
 

  const data = {
    labels: [
      {{#each PaymentChart}}'{{_id}}',{{/each}}
    ],
    datasets: [{
      label: 'Weekly Sales',
      data: [{{#each PaymentChart}}'{{Count}}',{{/each}}],
      backgroundColor: [
        'rgb(103 119 239)',
        'rgb(102 187 106)',
        'rgb(54, 162, 235)',
        'rgb(255, 99, 132)'
      ]
    }]
  };

  const config = {
    type: 'bar',
    data: data,
    options: {
      aspectRatio:3,
      responsive:true
    }
  };
  
myChart4 = new Chart(document.getElementById('line-chartPayment'), config)
                                     
} 

          
                                                
</script>

