

        <main class="main">
        	<div class="page-header text-center" style="background-image: url('assets/images/page-header-bg.jpg')">
        		<div class="container">
        			<h1 class="page-title">Wishlist</h1>
        		</div><!-- End .container -->
        	</div><!-- End .page-header -->
            <nav aria-label="breadcrumb" class="breadcrumb-nav">
                <div class="container">

                </div><!-- End .container -->
            </nav><!-- End .breadcrumb-nav -->

            <div class="page-content">
            	<div class="container">
					<table class="table table-wishlist table-mobile">
						<thead>
							<tr>
								<th>Product</th>
                                 <th>brand</th>
								<th>Price</th>
								<th>Stock left</th>
								<th>action</th>
                               
								<th></th>
							</tr>
						</thead>

						<tbody>

                            {{#each response}}
							<tr>
								<td class="product-col">
									<div class="product">
										<figure class="product-media">
											<a href="/product/{{this.productdetails._id}}">
												<img src="/images/product/{{this.productdetails.img.[0]}}" alt="Product image"> 
											</a>
										</figure>

								<h3 class="product-title">
											<a href="/product/{{this.productdetails._id}}">{{this.productdetails.productname}}</a>
                                           
										</h3><!-- End .product-title -->
									</div><!-- End .product -->
								</td>
                                <td class="price-col">{{this.catdetails.[0].Brand}}</td>
								<td class="price-col">{{this.productdetails.price}}</td>
								<td class="stock-col"><span class="in-stock">{{this.productdetails.stockleft}}</span></td>

								<td class="remove-col"><button class="btn-remove"><a href="/wishlistremove/?proId={{this.productdetails._id}}"><i class="icon-close"></i></a></button></td>
							</tr>

                        {{/each}}
						</tbody>
					</table><!-- End .table table-wishlist -->

            	</div><!-- End .container -->
            </div><!-- End .page-content -->
        </main><!-- End .main -->






